 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
     /* border: 1px dashed white; */
     font-size: 12px;
     font-family: 'Roboto Condensed', sans-serif;
 }

 :root {
     --top: #080b12;
     --main: #141922;
     --side_bar: #000000;
     --bottom: #282828;
     --text_gray: rgb(150, 150, 150);
 }

 body {
     overflow-y: hidden;
 }

 img {
     max-width: 100%;
 }

 a {
     text-decoration: none;
 }

 hr {
     margin: 0 1.2rem;
     display: none;
 }


 /* #region Utility*/

 .p_1rem {
     padding: 1rem;
 }

 .p_b_1rem {
     padding-bottom: 1rem;
 }

 .m_05rem {
     margin: 0.5rem;
 }

 .m_right_05rem {
     margin-right: 0.5rem;
 }

 .m_left_05rem {
     margin-left: 0.5rem;
 }

 .m_left_1rem {
     margin-left: 1rem;
 }

 .m_right_1rem {
     margin-left: 1rem;
 }

 .m_b_05rem {
     margin-bottom: 0.5rem;
 }

 .m_b_1rem {
     margin-bottom: 1rem;
 }

 .m_b_2rem {
     margin-bottom: 2rem;
 }

 .m_b_4rem {
     margin-bottom: 4rem;
 }

 .m_t_1rem {
     margin-top: 1rem;
 }

 .m_t_2rem {
     margin-top: 2rem;
 }

 .m_t_4rem {
     margin-top: 4rem;
 }

 .m_t_8rem {
     margin-top: 8rem;
 }

 .text_white {
     color: white;
 }

 .text_gray {
     color: rgb(165, 165, 165);
 }

 .bg_gray {
     color: rgb(150, 150, 150);
 }

 .f_s_10 {
     font-size: 10px;
 }

 .f_s_8 {
     font-size: 8px;
 }

 .f_s_6 {
     font-size: 6px;
 }


 /* #endregion Utility*/

 /* #region top*/
 .top {
     height: calc(100vh - 70px);
     display: flex;
 }

 /* #endregion top*/

 /* #region Side*/
 .side_bar {
     width: 50px;
     background: #000000;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     overflow: hidden;
 }

 .logo {
     width: 40px;
     margin: 1rem 0.5rem;
 }

 .ext_logo {
     display: none;
 }

 .left_green_bar {
     display: none;
     background-color: greenyellow;
     height: 25px;
     width: 0.2rem;
     border-radius: 2.5px;
     margin-left: 0.3rem;
     position: absolute;
 }

 .side_bar_center {
     display: none;
     margin: 0.5rem;
 }

 .playlist_name {
     color: var(--text_gray);
     margin: 1rem 1rem;
 }

 .playlist_name:hover {
     color: white;
 }

 .add_playlist {
     display: flex;
 }

 .add_playlist span:hover {
     color: white;
 }

 .side_bar_down {
     display: flex;
 }

 .user_img{
    background: gray;
    border-radius: 50%;
    
 }

 .side_bar a {
     display: flex;
     justify-content: center;
 }

 .side_bar_toggle_up {
     width: 25px;
     margin: 0.5rem;
     margin-left: 0.5rem;
 }

 .side_bar_text {
     display: none;
 }

 .side_bar_toggle_down {
     width: 25px;
     margin: 0.5rem;
     margin-left: 0.5rem;
 }

 /* #endregion Side*/

 /* #region Main*/
 main {
     height: 100%;
     width: 100%;
     background: #141922;
 }

 /* #region Call to action*/
 .call_to_action_band {
     height: 50px;
     width: 100%;
     background: #080b12;
     padding: 1rem;
     display: flex;
     justify-content: flex-end;
     align-items: center;
 }

 .btn_call_to_action {
     border: 1px solid white;
     border-radius: 50px;
     padding: 0.5rem 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .btn_call_to_action:hover {
     transform: scale(1.1);
     background-color: greenyellow;
     color: #000000;
     font-weight: bolder;
 }

 /* #endregion Call to action*/
 /* #region nav main*/
 .nav_main {
     height: 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items:baseline;
     margin-top: 1rem;
 }

 .nav_link {
     padding: 0.3rem 0.5rem;
     display: flex;
     align-items: center;
 }

 .nav_link_box{
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .nav_green_bar {
     background-color: greenyellow;
     height: 0.2rem;
     width: 30px;
     border-radius: 2.5px;
     margin-top: 0.3rem;
     
 }

 /* #endregion nav main*/
 /* #region content*/

 .content {
     height: calc(100% - 90px);
     overflow-y: scroll;
 }

 .title_row {
     padding: 1rem;
     font-size: 20px;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
 }

 .card {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem;
 }

 .card_img {
     position: relative;
 }

 .alpha_play {
     display: none;
 }

 .card_img:hover .alpha_play {
     display: inline-block;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.4);
 }

 .description {
     text-align: center;
     margin-top: 1rem;
 }

 /* #endregion content*/

 /* #endregion Main*/

 /* #region Bottom*/
 .bottom {
     height: 70px;
     background: #282828;
     display: flex;
     justify-content: space-around;
     position: relative;
     z-index: 2;
 }

 .bottom_img {
     width: 40px;
     margin: 3%;
 }

 .div_heart {
     margin-left: 8%;
 }

 .bottom_left {
     display: flex;
     padding: 1%;
     align-items: center;

     width: calc(100%/3);
 }

 .bottom_center {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: calc(100%/3);
 }

 .player_up {
     width: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1rem;
 }

 .player_down {
     display: flex;
     width: 90%;
     align-items: center;
     gap: 10px;
     position: relative;
 }

 .time_bar {
     width: 100%;
     height: 4px;
     background: var(--text_gray);
     border-radius: 50px;
 }

 .time_bar:hover{
    cursor: pointer;
 }

 .flow_time{
    width: 30%;
    background-color: greenyellow;
    height: 4px;
    border-radius: 50px;
    position: absolute;
    left: 30px;
 }

 .flow_time:hover{
    cursor: pointer;
 }

 .indicator{
    width: 12px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    left: 50%;
 }

 .indicator:hover{
    cursor: pointer;
}

 .bottom_right {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     width: calc(100%/3);
     margin-right: 1rem;
 }

 .volume_bar {
     width: 30%;
     height: 4px;
     background: var(--text_gray);
     border-radius: 50px;
 }

 .indicator_right{
    width: 12px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 28px;
 }

 .indicator_right:hover{
    cursor: pointer;
 }

 /* #endregion Bottom*/

 /* #region media*/

 @media screen and (min-width:481px) {
     .card {
         width: 50%;
     }

     .side_bar {
         width: 150px;
         align-items: flex-start;
     }

     .logo {
         display: none;
     }

     .ext_logo {
         display: inline-block;
         width: 100px;
         margin: 1.2rem 0.5rem;
     }

     .side_bar a {
         justify-content: flex-start;
         align-items: center;
     }

     .side_bar_toggle_up {
         width: 1.2rem;
         align-items: flex-start;
         margin-left: 1.5rem;
     }

     .side_bar_text {
         display: inline-block;
     }

     .side_bar_center {
         display: inline-block;
     }

     hr {
         display: inline-block;
         width: 90px;
     }

     .left_green_bar {
         display: inline-block;
     }

     .side_bar_toggle_down {
         width: 1.2rem;
         align-items: flex-start;
         margin-left: 1.5rem;
     }

     .player_up{
        width: 150px;
     }

     .text_gray:hover{
        color: white;
     }
 }

 @media screen and (min-width:787px) {
     .card {
         width: 25%;
     }

     .player_up{
        width: 200px;
     }

     .indicator{
        left: 38%;
     }
 }

 @media screen and (min-width:1141px) {
     .card {
         width: calc(100%/6);
     }
     .indicator{
        left: 36%;
     }
 }


 /* #endregion media*/