 *{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

:root{
    --top:#080b12;
    --main:#141922;
    --side_bar:#000000;
    --bottom:#282828;
}

.top{
    height: calc(100vh - 70px);
    display: flex;  
}

.side_bar{
    width: 150px;
    background: #000000; 
}

.main{
    height:100%;
    background: #141922;
}

.bottom{
    height: 70px;
    background:#282828;
}

.nav{
    width: 100%;
    background: #080b12;
}